<h1>Submit a New Poy Job to the Super Computer</h1>


<% form_for(@job, :url => '/poy/create/'+"#{@query.id}") do |f| %>

         <h3>Tree</h3>
  Outgroup :  <select id="outgroup" name="outgroup">
    <%  @query.get_sequence.each { |sequence| %>

      <option value='<%="#{sequence[:id]}"%>'><%="#{sequence.name}"%></option>

      <%#="<option value='#{sequence[:id]}'>#{sequence.name}</option>"%>
      "<option value='<%=sequence[:id]%>'> <%=sequence.name%></option>"

    <% } %></select><br/>
  <br/>
    <!--Do you want your fasta input trimed to the protien reading frame?<br/>
    <%#= radio_button_tag(:trimed, "1",true) %>trimed fasta<br/>
    <%#= radio_button_tag(:trimed, "0", false) %>raw fasta<br/>
  <br/>-->
    <%
       search_time = ((@query.get_sequence.length * @query.get_sequence.length )/3000).ceil+2
    if(search_time>60)
       search_time=60;
     end
        %>
    <%
     search_time=2
    %>


<%#Your job will have a search time of <%=search_time % minutes and a max run time of 5%#=search_time*20 % minutes + any time spent in the queue.  %>
 <br/> <br/>
  <%= f.submit 'Submit' %>

<% end %>
