<% content_for :head do %>
 <%= javascript_include_tag "fileuploader.js" %>
 <%= javascript_include_tag "jquery.validate.min.js" %>

 <script type="text/javascript">
   function debug1(){
     alert('what number one');
      };

 function delete_row(id){

     if (confirm("Are you sure you want to delete this job?"))
     {
        $('#row_'+id).remove();
        $.get('/phen_gen/delete/'+id)
      }

   };
$(document).ready(function(){

})
 </script>
<% end %>
<h1> My Jobs </h1>
<div class="list">

<table id="main_table">
  <tr>
    <th>Description</th>
<!--    <th>Pid</th>
    <th>Glenn Folder</th>
    <th>Date</th>
    <th>Status</th>-->
    <th>Files</th>
    <th>Actions</th>
  </tr>
<%  @jobs.each { |job| %>
  <tr id="row_<%=job.id  %>" >
    <td>Name : <%=job[:name] %><br/>
      <td>Job Id : <%=job.id %><br/>
      Pid : <%=job[:pid] %><br/>
    Glenn Folder : <%=job[:service_id] %><br/>
   Date : <%=job[:created_at] %><br/>
    Status : <%=job[:status] %></td>
    <td><ul>
       <% JobFile.get_files(job.id).each { |f| %>
       <li><%= link_to f.name, "/phen_gen/get_file/#{f.id}" %>
       <%= f.file_type=='p' ? link_to( "(visualization)", "/phen_gen/show/#{f.id}" ) :  '' %>
       </li>
      <% }  %>
      </ul></td>
      <td><ul>
	 <% p_file = JobFile.where("name='#{job.name}_stat_p0.0001.txt'")[0] %>
	
	<% if p_file %>          	
         <li><%= link_to( 'show', {:controller => 'phen_gen', :action => 'show', :id=> JobFile.where("name='#{job.name}_stat_p0.0001.txt'")[0].id}) %> </li><br/>
	<% end %>

        <li><%= link_to( 'Debug Poy', {:controller => 'phen_gen', :action => 'debug_poy', :id=> job.id}) %> </li>
        <li><%= link_to( 'Debug Poy end', {:controller => 'phen_gen', :action => 'debug_poy_end', :id=> job.id}) %> </li>
        <li><%= link_to( 'Debug Job', {:controller => 'phen_gen', :action => 'debug', :id=> job.id}) %> </li>
        <br/><li><input type="submit" value="Delete Job" onclick="delete_row('<%=job.id  %>')" /> </li>
      </ul></td>

  </tr>
  <% }  %>
</table>

  </div>
