<% content_for :head do %>
 <%= javascript_include_tag "fileuploader.js" %>
    <%= javascript_include_tag "jquery.validate.min.js" %>
<%= stylesheet_link_tag "/css/fileuploader.css" %>
    <style type="text/css">
    .block { display: block; }
    label.error { display: none; }
    </style>


    <script type="text/javascript">

      
$(document).ready(function(){
   $("#tree_upload").hide();
   $("#SelectOutDiv").hide();
   $("#TypeOutDiv").hide();
   /*$("#NoTree").checked =true*/

    function outgroup_switch() {
        //alert($("#SelectOutGroup").i .checked);
        if($('input:radio[name=SelectOutGroup]:checked').val()==0 )
        {
            $("#SelectOutDiv").show('slow');
            $("#TypeOutDiv").hide('slow');
        }
        else
        {
            $("#SelectOutDiv").hide('slow');
            $("#TypeOutDiv").show('slow');
        }
    }
   $("#SelectOutGroup").change(function(){outgroup_switch() })
   $("#TypeOutGroup").change(function(){outgroup_switch() })
   $("#NoTree").change(function(){ $("#tree_upload").hide('slow');});
   $("#YesTree").change(function(){ $("#tree_upload").show('slow');})

      $(".edit_job").validate({
        //debug: true,
        rules: {
        "job[name]": {required: true, minlength: 2},
        "fasta-file-uploader" : {required: true,remote:"fasta_uploaded"},
        "is_prealigned": {required: true},
        "SelectOutGroup": {required: true},
        "use_tree": {required: true},
        "outgroup"  : {required: true , depends: function(element) {return $("#SelectOutGroup:checked")}},
        "job[outgroup]"  : {required: true , depends: function(element) {return $("#TypeOutGroup:checked")}},
         "job[tree_file]"  : {required: true , depends: function(element) {return $("#YesTree:checked")}}
        },
        invalidHandler: function(form, validator) {alert('There were problems submitting you job look at the errors in red.')}
        });
     });
   </script>
<% end %>



<h1> Creating a new GenPhen Job.</h1>

<% form_for @job, :url =>"/phen_gen/run/#{@job.id}",  :html => {:multipart => true} do |f|%>

    <h4>Describe your job.</h4>
    <div  class="sub_input">
    <p>Job's name:<%= f.text_field :name %><br/></p>
    </div>

    <h4>Upload your sequence data.</h4><label for="fasta-file-uploader" class="error" >You need to select one</label>
    <div  class="sub_input">
    <%#Select fasta file(.fasta):%>

      <script>
       jQuery(function(){
           var uploader = new qq.FileUploader({
                element: document.getElementById('fasta-file-uploader'),
                action: 'fasta_upload/<%= @job.id %>',
                onComplete: function(id, fileName, responseJSON){
                    $.ajax({
                        url: 'outgroup_options/<%= @job.id %>',
                        context: document.body,
                        success: function(data){
                            $.each(data, function(item) {
                                $('#outgroup').append(
                                    $('<option></option>').val(data[item]).html(data[item])
                                );
                            });
                        }
                    });
                }
           });
       });

    </script>
      <div id="fasta-file-uploader" name="fasta-file-uploader"></div>
    <%#= f.file_field "fasta_file", :size => 20 %><br/>
    </div>

    <h4>Is Your Fast file already Pre-aligned?</h4><label for="is_prealigned" class="error" >You need to select one</label>

    <div  class="sub_input"><p>
    <input  name="is_prealigned"  type="radio"  value="1" />Yes, my Fasta file is already pre-aligned. <br/>
    <input  name="is_prealigned" type="radio"  value="0" />No, have poy do the alignment for me.<br/>
   </p> </div>

    <h4>What is the fasta files outgroups name?</h4><label for="SelectOutGroup" class="error" >You need to select one</label>
    <div  class="sub_input">
      <input id="SelectOutGroup"  name="SelectOutGroup" type="radio" value="0" />select outgroup from available options.<br/>
       <div  id="SelectOutDiv" style="padding-left:40px;padding-top:20px;padding-bottem:20px;">
            <select id="outgroup" name="outgroup"></select><br/><br/>
       </div>
      <input id="TypeOutGroup" name="SelectOutGroup" type="radio" value="1"  />manually type in outgroup<br/>
      <div  id="TypeOutDiv" style="padding-left:40px;padding-top:20px;padding-bottem:20px;">
        OutGroup:<%= f.text_field :outgroup  %><br/>
       </div>


    </div>

    <h4> Create a tree file. </h4><label for="use_tree" class="error" >You need to select one</label>
     <div  class="sub_input">
    <input id="NoTree"  name="use_tree" type="radio" value="0" />Have Poy automatically create my tree file.<br/>
    <input id="YesTree" name="use_tree" type="radio" value="1"  />Upload my own tree file.<br/>

    <div  id="tree_upload" style="padding-left:40px;padding-top:20px;padding-bottem:20px;">
    Select tree file(.tre):
    <%= f.file_field "tree_file", :size => 20 %>
      <br/>tree must be unweighted
    </div>
       </div>
    <br/><br/><br/>
  <%= submit_tag("Submit") %>
<% end %>