<% content_for :head do %>
<style type="text/css">

    #doublescroll { float: right; font-family: Andale Mono, Courier New, Courier; width: 640px; overflow: auto; overflow-y: hidden; }

    #doublescroll p { margin: 0; padding: 0em; white-space: nowrap; }
    .corralation {color:red;}
</style>
<script type="text/javascript">
  var pairs= <%= @pairs %>
  function find_correlates(id){
    <!--ruby version: @pairs.select {| obj | obj.include?(id) }.flatten.reject{|obj| obj==id }  -->
   var output = [];
   for each (var variable in pairs){
        if(variable[0] == id){ output.push(variable[1])}
        if(variable[1] == id){ output.push(variable[0])}
  };

     alert('position '+id+' correlates to '+output)

   };


</script>
<% end %>


<h1>  <%= @job_file.name %></h1>
<h4>(Click on any of the red columns to see what the column correlates to.)</h4>

<% row_count=Math.log10(@count).ceil; rows = Array.new( row_count,'')  %>

<%#<div  style="height:700px;overflow:scroll;overflow-y:scroll;overflow-x:hidden;position:relative">  %>
<div  style="width:90px; float: left">
  <br/>Sequence Id<br/>
   <% (1..row_count).each{|row| %>
       <br/>

        <%  } %>
    <% @fasta_hash.keys.each{|key| %>
      <%= key %><br/>
  <% } %>
</div>

<div id="doublescroll" >
  <%#<div id="index"  style="position:absolute;top:0;">   %>
  <div id="index" >
  <% (1..((@count/10)+1)).each{|a| pos=(a*10).to_s.rjust( row_count)
        (0..row_count-2).reverse_each{|row|
         rows[row] += pos[row].rjust(10).gsub(' ','&nbsp;')
          }
         rows[row_count-1] += "1234567890"

     }
  %>

    <% rows.each{|r|  %>
    <p> <%=raw r %> </p>
    <% } %>

     </div>
  <div id="data">


  <% @fasta_hash.values.each{|seg| %>
     <p> <%= raw seg %> </p>
  <% } %>
</div>

</div>

<%#</div> %>

<script type="text/javascript">
    function DoubleScroll(element) {
        var scrollbar= document.createElement('div');
        scrollbar.appendChild(document.createElement('div'));
        scrollbar.style.overflow= 'auto';
        scrollbar.style.overflowY= 'hidden';
        scrollbar.firstChild.style.width= element.scrollWidth+'px';
        scrollbar.firstChild.style.paddingTop= '1px';
        scrollbar.firstChild.appendChild(document.createTextNode('\xA0'));
        scrollbar.onscroll= function() {
            element.scrollLeft= scrollbar.scrollLeft;
        };
        element.onscroll= function() {
            scrollbar.scrollLeft= element.scrollLeft;
        };
        element.parentNode.insertBefore(scrollbar, element);
    }

    DoubleScroll(document.getElementById('doublescroll'));
</script>