<h1>Listing projects</h1>

<%= link_to 'New project', new_project_path %>

<div class="list">
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Options</th>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%=h project.name %></td>
    <td><%=h project.description %></td>
    <td>
      <%= link_to 'Show Queries', project %> |
      <%= link_to 'Edit', edit_project_path(project) %> |
      <%= link_to 'Delete', project, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>
