<p>
  <b>Project:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<%= link_to 'New query', new_query_path(:id => @project.id) %> |
<%= link_to 'Edit Project', edit_project_path(@project) %>

<p><b>Listing queries:</b><%= will_paginate @queries %>
</p>

<div class="list">
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Options</th>
  </tr>
  <% @queries.each do |query| %>
  <tr>
    <td><%=h query.name %></td>
    <td><%=h query.description %></td>
    <td>
      <%= link_to 'Show Results', query %> |
      <%= link_to 'Edit', edit_query_path(query) %> |
      <%= link_to 'Delete', query, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
</div>
