<h1>New Query</h1>

<% form_tag 'create' do %>

<h4>Name</h4>
<%= text_field_tag :name  %><br/><br/>

<h4>Query Description (Optional)"</h4>
<%= text_area_tag :description %><br/>


<h4>Do you whant to make your query public and let other gisbank users see your query</h4>
<%= radio_button_tag(:public, "1") %>yes<br/>
<%= radio_button_tag(:public, "0") %>no<br/>

<h4>Pathogens </h4>
<div style='width:300px; height:100px;  border-style: ridge;  overflow:auto' >
   <%  Pathogen.all.each { |p|  %>

    <%= check_box_tag "pathogen[]", p.id %>
    <%= p.name %><br/>
  <%  } %>
    </div>
<h4>Hosts </h4>

<div style='width:300px; height:100px;  border-style: ridge;  overflow:auto' >
  <%  Host.all.each { |h|  %>

    <%= check_box_tag("hosts[]", h.id) %>
    <%= h.name %><br/>
  <%  } %>
 </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/jquery-ui.min.js"></script>
 <script type="text/javascript" src="/javascripts/jquery.checkboxtree.min.js"></script>
 <script type="text/javascript">
         $(document).ready(function() {
     
                $('#tree1').checkboxTree({
                initializeChecked: 'collapsed', initializeUnchecked: 'collapsed' 
                });

            });


 
 </script>
 <h4>Locations </h4>
  <div style='width:300px; height:100px;  border-style: ridge;  overflow:auto' >
  <ul id="tree1">
  <%  Location.find(:all, :select => 'Distinct country',:order => "country").each { |c|  %>
     <li><input type="checkbox"/><%= c.country %><br/>
                            <ul>
                            
                              <%  Location.find(:all, :conditions => "country='#{c.country}'",:order => "local").each { |l|  %>
                                <li> <%= check_box_tag("locations[]",  l.id) %><%= l.local %></li>
                                  <%  } %>
                            </ul>
     </li>

  <%  } %>
  </ul>
  </div>

     <h4>Segments </h4>
     <div style='width:300px; height:100px;  border-style: ridge;  overflow:auto' >
    <%  Protein.all.each { |p|  %>

    <%= check_box_tag("protein[]",  p.id) %>
    <%= p.name %><br/>
  <%  } %>
</div>
    <h4>Date Range</h4>
    <%= select_date Date.today<<(120) , :prefix => :start_date %> to
    <%= select_date Date.today, :prefix => :end_date %>
<%#= select_date :min_collect_date, :order => [:month, :day, :year], :start_year => 2000, :end_year => Date.today.year, :include_blank => true, :default => nil %> 
<%#= select_date :max_collect_date, :order => [:month, :day, :year], :start_year => 2000, :end_year => Date.today.year, :include_blank => true, :default => nil %>


<%#= select_date :min_collect_date, :order => [:month, :day, :year], :start_year => 2000, :end_year => Date.today.year, :include_blank => true, :default => nil %> 
<%#= select_date :max_collect_date, :order => [:month, :day, :year], :start_year => 2000, :end_year => Date.today.year, :include_blank => true, :default => nil %>
  <br/><br/>
    <%= submit_tag("Submit") %>
<% end %>



