<h1> Query:
  <%=h @query.name %>
</h1>

<p>
  <b>Description:</b>
  <%=h @query.description %>
</p>

 <%  if(@query.user_id == current_user.id) %>
<%= link_to 'Change Query', :controller => 'set', :action => 'edit', :id=> @query.id %> |
<%= link_to( 'Delete Query', {:controller => 'set', :action => 'delete', :id=> @query.id},{:confirm => 'Are you sure?'}) %>
<%  end %>

<br/>
<%= link_to 'Download Nucleotides', "/set/download_fasta/#{@query.id}" %> |
<%#= link_to 'Download Trimed Nucleotides', "/set/download_trim_fasta/#{@query.id}" %>
<%= link_to 'Download Georefs', "/set/download_meta_geo_refs/#{@query.id}" %> |
<%= link_to 'Download Georefs as KML', "/set/download_kml/#{@query.id}" %> |
<%= link_to 'Download Metadata', "/set/download_metadata/#{@query.id}" %>

<br/><br/>

<%
            debug = File.new('log/debug.txt', "a")
            debug.write "in the view starting to write the poy jobs #{Time.now}\n"
            debug.flush
%>
<p><b>Supramap:</b></p>

    <% if(@poyjobs ==nil || @poyjobs==[] )   %>
  <%= form_tag "/poy/new/#{params[:id]}" %>
    <%= submit_tag("Create a supra map kml file") %>
    <% else  %>
    <% counter = 0;

    @poyjobs.each{ |job|
        counter = counter +1;
    	job.isdone job.id
        debug.write "just ran a isdone command #{Time.now}\n"
       debug.flush
     %>
    <%  if job.status==1%>
            <%=  label_tag("Run #{(counter).to_s} : Your kml file for supra map is currently being generated for run #{(counter).to_s} please come back again soon.") %><br/><br/>
    <%# else if job.status==0%>
  <%#=  label_tag("Run #{(counter).to_s} : Your Supramamp job has failed.") %><br/><br/>
<%  else %>
      <%="Run #{(counter).to_s} : " %>
      <%=  (job.iskml == "1") ? link_to('Download Supramap KML', "/poy/download_supramap_kml/#{job.id}"):' ' %>
           <% debug.write "just checked for a kml #{Time.now}\n" ;debug.flush %>
      <%=  (job.isaligned_fasta == "1") ? link_to( 'Download Implied Alignment', "/poy/download_aligned_fasta/#{job.id}") :' ' %>
             <% debug.write "just checked for a fasta #{Time.now}\n" ;debug.flush %>
      <%=  (job.istree == "1") ? link_to( 'Download Tree', "/poy/download_tree/#{job.id}") :' ' %>
         <% debug.write "just checked for a tree #{Time.now}\n" ;debug.flush %>
      <%=  (job.ispoy == "1") ? link_to( 'Download poy script', "/poy/download_poy_script/#{job.id}") :' ' %>
        <%=  (job.isoutput == "1") ? link_to( 'Download stats', "/poy/download_output/#{job.id}") :' ' %>
      <%=  (job.ispoy_output == "1") ? link_to( 'Download output', "/poy/download_poy_output/#{job.id}") :' ' %>
             <br/> <br/>
<%  end  %>
<% } %>
 <%= form_tag "/poy/new/#{params[:id]}" %>
        <%= submit_tag("Re-Run Supra Map", :confirm =>'Are you sure? You only want to do this if changed your query parameters or ran supramap a while ago with now out of date data' ) %>
      <%  end %>

<br/><br/>
<%# <h3>Listing <%= @seq.total_entries %><%# Results:</h3>           %>

<%#= will_paginate @seq %>

<div class="list">
<table>
  <tr>
    <th>Isolate Name</th>
    <th>Pathogen</th>
    <%#*<th>Genbank Accession ID</th>%>
   
    <th>Nucleotide Locus</th>
    <th>Location</th>
    <th>Host</th>
    <th>Collect Date</th>
  </tr>
<%  @seq.each { |sequence| %>
  <tr>
    <td><%=sequence[:virus_name] %></td>
    <td><%=sequence[:subtype] %></td>

    <td><%= sequence[:protein] %></td>
    <td><%#= sequence[:location_name] %><%= sequence[:country] %><%#= sequence[:local] %></td>
    <td><%= sequence[:host] %></td>
    <td><%= sequence[:date] %></td>
  </tr>
<% } %>
</table>
</div>
<%
            debug.write "page finished #{Time.now}\n"
            debug.flush
            debug.close
   %>