<h1> Query:
  <%=h @query.name %>
</h1>

<p>
  <b>Description:</b>
  <%=h @query.description %>
</p>

 <%  if(@query.user_id == current_user.id) %>
<%= link_to 'Change Search Parameters', :controller => 'set', :action => 'edit', :id=> @query.id %> |
<%= link_to( 'Delete Query', {:controller => 'set', :action => 'delete', :id=> @query.id},{:confirm => 'Are you sure?'}) %>
<%  end %>

<br/>
<%= link_to 'Download Nucleotides', "/set/download_fasta/#{@query.id}" %> |
<%= link_to 'Download Georefs', "/set/download_meta_geo_refs/#{@query.id}" %> |
<%= link_to 'Download Metadata', "/set/download_metadata/#{@query.id}" %>
<br/><br/>

<% if(@poyjob ==nil || @poyjob.status==0)  %>
  <%= form_tag "/poy/new/#{params[:id]}" %>
    <%= submit_tag("Create a supra map kml file") %>
<%  elsif @poyjob.status==1%>
  <%=  label_tag('Your kml file for supra map is currently being generated please come back again soon.') %>
<%  elsif @poyjob.status==2%>
      <%=  link_to 'Download Supramap KML', "/poy/download_supramap_kml/#{params[:id]}" %> |
      <%=  link_to 'Download Implied Alignment', "/poy/download_aligned_fasta/#{params[:id]}" %> |
       <%=  link_to 'Download Tree', "/poy/download_tree/#{params[:id]}" %> |
      <%=  link_to 'Download Stats', "/poy/download_output/#{params[:id]}" %>
      <%  if(@query.user_id == current_user.id) %>
        <%= form_tag "/poy/new/#{params[:id]}" %>
        <%= submit_tag("Re-Run Supra Map", :confirm =>'Are you sure? You only want to do this if changed your query parameters or ran supermap a while ago with now out of date data' ) %>
      <%  end %>
 <%  end %>


<br/><br/>
<h3>Listing <%= @seq.total_entries %> Results:</h3>

<%= will_paginate @seq %>

<div class="list">
<table>
  <tr>
    <th>Isolate Name</th>
    <th>Pathogen</th>
    <%#*<th>Genbank Accession ID</th>%>
    <th>Segment</th>
    <th>Location</th>
    <th>Host</th>
    <th>Collect Date</th>
  </tr>
<%  @seq.each { |sequence| %>
  <tr>
    <td><%=sequence[:virus_name] %></td>
    <td><%=sequence[:subtype] %></td>

<%#*<td>%>
      <%# if sequence[:genbank_acc_id] %>
        <%#= link_to sequence[:genbank_acc_id], "http://www.ncbi.nlm.nih.gov/nucleotide?term=#{sequence[:genbank_acc_id]}", :target => "_blank" %>
      <%# else %>
      <%#*Gisaid%>
      <%# end %>
    <%#*</td>%>

    <td><%= sequence[:protein] %></td>
    <td><%= sequence[:location_name] %></td>
    <td><%= sequence[:host] %></td>
    <td><%= sequence[:date] %></td>
  </tr>
<% } %>
</table>
</div>