<p>
  <b>Query:</b>
  <%=h @query.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @query.description %>
</p>

<%= link_to 'Back to Queries', queries_path %> |
<%= link_to 'Change Search Parameters', edit_query_path(@query) %> |
<%= link_to 'Delete Query', query_path(@query), :confirm => 'Are you sure?', :method => "delete" %>
<br/>
<%= link_to 'Download Nucleotides', "/queries/download_fasta/#{params[:id]}" %> |
<%= link_to 'Download Georefs', "/queries/download_metadata/#{params[:id]}" %> |
<%= link_to 'Download Metadata', "/queries/download_strain/#{params[:id]}" %>

<h3>Listing <%= @sequences.total_entries %> Results:</h3>

<%= will_paginate @sequences, :params => params %>

<div class="list">
<table>
  <tr>
    <th>Isolate Name</th>
    <th>Genbank Accession ID</th>
    <th>Sequence Type</th>
    <th>Location</th>
    <th>Host</th>
    <th>Collect Date</th>
    <th>Swine Set</th>
  </tr>

<% @sequences.each do |sequence| %>
  <tr>
    <td><%=h sequence[:name] %></td>
    <td>
      <% if sequence[:genbank_acc_id] %>
        <%= link_to sequence[:genbank_acc_id], "http://www.ncbi.nlm.nih.gov/nucleotide?term=#{sequence[:genbank_acc_id]}", :target => "_blank" %>
      <% else %>
      Gisaid
      <% end %>
    </td>
    <td><%= sequence[:sequence_type] %></td>
    <td><%= sequence[:location] %></td>
    <td><%= sequence[:host] %></td>
    <td><%= sequence[:collect_date] %></td>
    <td><%= sequence[:h1n1_swine_set] %></td>
  </tr>
<% end %>
</table>
</div>
